@page
@model lab484.Pages.Admin.AdminLandingModel
@{
}
<head>
    <meta charset="utf-8" />
    <title>Projects</title>
</head>
<h2>Available Projects</h2>
<table class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Due Date</th>
            <th>Funding</th>
            <th>Detailed View</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var project in @Model.projectList)
            {
                <tr>
                    <td class="text-danger">@project.ProjectName</td>
                    <td>@string.Format("{0:C}", project.Amount)</td> <! -- formats as dollar value !>
                    <td>@project.DueDate.ToString("MM/dd/yyyy")</td> <! -- formats as date, no time !>
                    <td>
                        <div class="text-center">
                        <button class="btn btn-outline-primary">Details</button>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="text-center">
    <a class="btn btn-outline-primary" asp-page="BusinessPartners">View Business Partners</a>
</div>