@page
@model lab484.Pages.Admin.BusinessPartnersModel
@{
}
<head>
    <meta charset="utf-8" />
    <title>Business Partners</title>
</head>
<div class="table-container">
    <h2>Partners</h2>
    <table>
        <thead>
            <tr>
                <th>Business Partner</th>
                <th>Status</th>
                <th>Primary Contact</th>
                <th>Contact</th>
                <th>View</th>
            </tr>
        </thead>
    </table>
    <a class="btn btn-outline-primary" asp-page="AdminLanding">Return to Projects</a>
</div>