@page "{userID:int?}"
@model lab484.Pages.MessagesModel

@{
}

<h2>Select User to View Messages</h2>

<form method="post">
    <div class="form-group">
        <label for="UserID">Select Username:</label>
        <select id="UserID" asp-for="SelectedUsername" asp-items="Model.Usernames" class="form-control">
            <option value="">Select a user</option>
        </select>
    </div>
    <br />
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Enter Messages</button>
    </div>
</form>
