@page
@model lab484.Pages.NoPermissionsModel
@{
}
<h2>Hi there! Looks like you are not allowed to view any pages in the system :(</h2>
<h4>Please enjoy this dancing cat:</h4>
<img src="https://media.tenor.com/5BYK-WS0__gAAAAM/cool-fun.gif" />